/* ========================================================== */
/* base.scss */
/* ========================================================== */

/* colors */
$mainColor: #f36a00;


/* layout */
body{
    min-width: 1200px;
    border-top: 3px solid $mainColor;
    color: #333333;
    & *{
        box-sizing: border-box;
    }
    background-color: #F9F9F9
}
h1, h2, h3, h4, h5, h6{
    font-family:YuGo-Bold;
    color: #3D465A;
    margin: 0;
    padding: 0;
}
p{
    font-size: 14px;
    line-height: 1.81;
    margin-top: 0;
    margin-bottom: 0;
    & + p{
        margin-top: 1em;
    }
}
img{
    vertical-align: middle;
}
a{
    color: #0059B2;
    img:hover{
        opacity: 0.7;
        -webkit-filter: brightness(100%);
    }
}
input[type=image]:hover{
    opacity: 0.7;
    -webkit-filter: brightness(100%);
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }


.l-container{
    width: 960px;
    margin: 0 auto;

    /* FIXME:for debug */
    /* border-right: 1px dashed rgba(255, 0, 0, 0.2); */
    /* border-left: 1px dashed rgba(255, 0, 0, 0.2); */
}

#auto_input{
    background-image:linear-gradient(180deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
    height: 23px;
}
select{
    background-image:linear-gradient(180deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
    height: 23px;
}
option{
    color: #545454;
    font-size: 12px;
}
