/* ========================================================== */
/* Foundation/base */
/* ========================================================== */

/* Setting */
$containerWidth: 960px;
$minWidth      : $containerWidth;
$isDevelop     : false; // 開発中？

/* colors */
$mainColor: #f36a00;
$bgColor  : #fff;

/* layout */
body{
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    min-width: $minWidth;
    border-top: 3px solid $mainColor;
    color: #333333;
    & *{
        box-sizing: border-box;
    }
    background-color: $bgColor
}
h1, h2, h3, h4, h5, h6{
    color: #3D465A;
    margin: 0;
    padding: 0;
}
p{
    font-size: 14px;
    line-height: 1.81;
    margin-top: 0;
    margin-bottom: 0;
    & + p{
        margin-top: 1em;
    }
}
img{
    vertical-align: middle;
}
a{
    color: #0059B2;
    img:hover{
        opacity: 0.7;
        -webkit-filter: brightness(100%);
    }
}
input[type=image]{
    vertical-align: middle;
    &:hover{
        opacity: 0.7;
        -webkit-filter: brightness(100%);
    }
}
