/* ========================================================== */
/* Object/Utillity/general */
/* ========================================================== */


/*----------------------------------------------------
     汎用class
----------------------------------------------------*/

/*  Margin Module
---------------------------------------*/
.m0{ margin:0!important;}

.mr0 { margin-right: 0px!important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }

.ml0 { margin-left: 0px!important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }

.mt0 { margin-top: 0px!important; }
.mt5 { margin-top: 5px !important; }
.mt8 { margin-top: 8px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }

.mb0 { margin-bottom: 0px !important; }
.mb1 { margin-bottom: 1px !important; }
.mb2 { margin-bottom: 2px !important; }
.mb3 { margin-bottom: 3px !important; }
.mb4 { margin-bottom: 4px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb8 { margin-bottom: 8px !important; }
.mb10 { margin-bottom: 10px!important; }
.mb15 { margin-bottom: 15px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb25 { margin-bottom: 25px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }

/*  Padding Module
---------------------------------------*/
.p0 { padding: 0!important;}
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px!important; }

.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px!important; }
.pl20 { padding-left: 20px!important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl100 { padding-left: 100px !important; }
.pl200 { padding-left: 200px !important; }

.pt0 { padding-top: 0px!important; }
.pt3 { padding-top: 3px !important; }
.pt4 { padding-top: 4px !important; }
.pt5 {padding-top: 5px !important; }
.pt6 { padding-top: 6px !important; }
.pt7 { padding-top: 7px !important; }
.pt10 { padding-top: 10px !important; }
.pt11 { padding-top: 11px !important; }
.pt12 { padding-top: 12px !important; }
.pt13 { padding-top: 13px !important; }
.pt14 { padding-top: 14px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px!important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px!important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px!important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px!important; }
.pt90 { padding-top: 90px !important; }
.pt100 { padding-top: 100px !important; }

.pb0 { padding-bottom: 0px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px!important; }
.pb11 { padding-bottom: 11px !important; }
.pb12 { padding-bottom: 12px !important; }
.pb13 { padding-bottom: 13px !important; }
.pb14 { padding-bottom: 14px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }

.relative{ position:relative; }
.absolute{ position:absolute; }

/*==================== text ====================*/
.tc{text-align:center!important;}
.tl{text-align:left;}
.tr{text-align:right;}

.tdu{text-decoration:underline;}

.lh10{line-height:1em;}
.lh15{line-height:1.5em!important;}
.lh2{line-height:2em;}
.lh3{line-height:3em;}

.vm{vertical-align:middle;}
.vt{vertical-align:top;}

.fs08{font-size:0.8em!important;}
.fs09{font-size:0.9em!important;}
.fs1{font-size:1em!important;}
.fs11{font-size:1.1em!important;}
.fs12{font-size:1.2em!important;}
.fs13{font-size:1.3em!important;}

.bn{border:none!important;}

/*==================== フロート解除 ====================*/
/**************/
/* clear:both */
/**************/
.cb{ clear:both; }

/* 回り込み */
.fl_left {
     display: inline;
     float: left;
     margin-right: 20px;
}
 .fl_right {
     display: inline;
     float: right;
     margin-left: 20px;
}

/* 画像回り込み */
.imgR {
     float: right;
     margin: 0 0 10px 10px;
}
.imgL {
     float: left;
     margin: 0 10px 10px 0;
}

/*==================== その他 ====================*/
.oh{overflow:hidden;}
.di{display:inline;}
.bol{font-weight:bold;}
