/* ========================================================== */
/* Object/Utillity/general */
/* ========================================================== */
/*----------------------------------------------------
     汎用class
----------------------------------------------------*/
@for $i from 0 through 20 {
    /*  Margin Module
    ---------------------------------------*/
    .m#{$i*5} {
        margin: 5px * $i !important;
    }
    .mt#{$i*5} {
        margin-top: 5px * $i !important;
    }
    .mb#{$i*5} {
        margin-bottom: 5px * $i !important;
    }
    .ml#{$i*5} {
        margin-left: 5px * $i !important;
    }
    .mr#{$i*5} {
        margin-right: 5px * $i !important;
    }
    /*  Padding Module
    ---------------------------------------*/
    .p#{$i*5} {
        padding: 5px * $i !important;
    }
    .pt#{$i*5} {
        padding-top: 5px * $i !important;
    }
    .pb#{$i*5} {
        padding-bottom: 5px * $i !important;
    }
    .pl#{$i*5} {
        padding-left: 5px * $i !important;
    }
    .pr#{$i*5} {
        padding-right: 5px * $i !important;
    }
}

.relative{ position:relative; }
.absolute{ position:absolute; }

/*==================== text ====================*/
.tc{text-align:center!important;}
.tl{text-align:left;}
.tr{text-align:right;}

.tdu{text-decoration:underline;}

.lh10{line-height:1em;}
.lh15{line-height:1.5em!important;}
.lh2{line-height:2em;}
.lh3{line-height:3em;}

.vm{vertical-align:middle;}
.vt{vertical-align:top;}

.fs08{font-size:0.8em!important;}
.fs09{font-size:0.9em!important;}
.fs1{font-size:1em!important;}
.fs11{font-size:1.1em!important;}
.fs12{font-size:1.2em!important;}
.fs13{font-size:1.3em!important;}

.bn{border:none!important;}

/*==================== フロート解除 ====================*/
/**************/
/* clear:both */
/**************/
.cb{ clear:both; }

/* 回り込み */
.fl_left {
     display: inline;
     float: left;
     margin-right: 20px;
}
 .fl_right {
     display: inline;
     float: right;
     margin-left: 20px;
}

/* 画像回り込み */
.imgR {
     float: right;
     margin: 0 0 10px 10px;
}
.imgL {
     float: left;
     margin: 0 10px 10px 0;
}

/*==================== その他 ====================*/
.oh{overflow:hidden;}
.di{display:inline;}
.bol{font-weight:bold;}
