/* ========================================================== */
/* Object/Component/grid */
/* ========================================================== */

.c-row{
    display: table;
    table-layout: fixed;
}
.c-row__col{
    display: table-cell;
}

/* floatを利用した旧型カラム */
.c-f-row{
    overflow: hidden;

}
.c-f-row__col{
    float: left;
}


.c-container{
    width: $containerWidth;
    margin: 0 auto;
    /* for debug */
    @if $isDevelop{
        border-right: 1px dashed rgba(255, 0, 0, 0.2);
        border-left: 1px dashed rgba(255, 0, 0, 0.2);
    }
}
