/* ========================================================== */
/* Object/Component/grid */
/* ========================================================== */

.c-row{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.c-row__col{
    display: table-cell;
    vertical-align: top;
}

/* floatを利用した旧態依然のカラム */
.c-f-row{
    overflow: hidden;

}
.c-f-row__col{
    float: left;
}


.c-container{
    width: 960px;
    margin: 0 auto;

    /* FIXME:for debug */
    /* border-right: 1px dashed rgba(255, 0, 0, 0.2); */
    /* border-left: 1px dashed rgba(255, 0, 0, 0.2); */
}
