/* ========================================================== */
/* Object/Component/label */
/* ========================================================== */

/* 文章強調部分 */
.c-label{

}
.c-label--primary{
    color: #EB6300;
}
.c-label--second{
    color: #22AB52;
}
.c-label--third{
    color: #EA8B00;
}
